

.bi-rads-dropdown{
    background-color: white;
    padding-top: 20px;
    padding-left: 27px;
    gap: 17px;
    z-index: 999999999;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    top: 80%;
    left: 17%;
    position: absolute;
    width: 290px;
    height: 230px;
    color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    animation: biRadsAnim 700ms forwards;

}


@keyframes biRadsAnim{
    0%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0);
    }

    
}

.bi-rads-dropdown h2{
    font-family: 'Sofia Pro';
    color: var(--navyBlue);
    font-size: 19.2px !important;
    font-weight: 700;
    position: relative;
  
}
.bi-rads-dropdown p:nth-child(2){
    margin-top: -6px;
}

.bi-rads-dropdown t {
   
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-family: 'Sofia Pro' !important;
    color: var(--navyBlue);
    font-size: 16.1px !important;
    width: fit-content;
}

.bi-rads-dropdown t:hover{

    font-weight: 700;
    border-bottom: 2px solid rgb(249, 208, 24);
    letter-spacing: -1px;
}

.bi-rads-dropdown-item-last-child{
 min-width: 240px !important;
}


    
   