$background-color: #F9F9F9;
$button-color: #FFD000;
$button-color-fade: #ffd00067;


.userPanel-mobile{
    padding-top: 21%;
    gap: 0px;
    display: flex;
    flex-direction: column;
    height: 130vh;
    width: 100vw;
    overflow-x: hidden;


    

    .userPanel-mobile-header{
        
        width: 95%;
        height: 17%;
        padding: 18px;
        gap: 15px;
     
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $background-color;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;

        p{
            width: 103%;
            font-family: "Sofia Pro";
            font-size: 15.5px;
            font-weight: 500;
        }
       
    }

  
    .userPanel-mobile-nav{
        
           position: relative;
           align-items: center;
           display: flex;
           gap: 15px;
           width: 100%; 
           overflow-x: auto;
           overflow-y: hidden;
           scroll-snap-type: x mandatory;
           height: 8%;
           -webkit-overflow-scrolling: touch;
           scroll-padding: 1rem;
           padding: 1rem;
           align-self: center;
           border-radius: 5px;
          
        
        
           div {
       
            cursor: pointer;
            width: 30px;
            display: flex;
            justify-content: center;
            height: 33px;
            scroll-snap-align: start;
            scroll-snap-stop: always;
            align-items: center;
            flex: 0 0 111px;
            background-color: $button-color-fade;
            font-family: "Sofia Pro";
            border-radius: 25px;
            font-size: 15px;
        }

    }

  

 
    .userPanel-mobile-nav::-webkit-scrollbar {
        display: none;
      }
 

      .accordion-details2{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        
        font-family: "Sofia Pro";
       
        position: relative;
        left: 8.5%;
        bottom: 8px;
      }
}