

.Navbar{
 z-index: 50;
 align-items: center;
 display: flex;
 justify-content: space-between;
 position: fixed;
 width: 100vw;
 height: 82.9px;
 border-top: 5px solid rgb(249, 208, 24);
 transition: 300ms;
 top:0;
 padding-left: 8%;
 padding-right: 5%;
 


}


.vitamu-logo {
    
    display: flex;
    position: relative;
   
    object-fit: cover;
    width: 150px;
    z-index: 3;
  
    


}

.nav-items-and-button{
  
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.vitamu-logo-2{
    display: none;
}


.nav-items{
    width: 100%;
    position: relative;
    
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 45px;
    
}
   
   
.nav-item{
    cursor: pointer;
    position: relative;
    color: #070000;
    font-family: 'Sofia Pro';
    
    
    
    display: flex;
    font-size: 17.3333px;
 
}


.nav-item::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;
  
    
   
    
  }

  .nav-item:hover{
    font-weight: 600;
    font-size: 17px;
    letter-spacing: -1px;

  }
  .nav-item:hover::after{
  width: 100%;

}

  
  
  
.button {
    width: 197px;
    height: 42.8px;
   
    display: flex;
    border-radius: 25px;
    background-color: #142b6f;
    color: white;
    font-family: 'Sofia Pro';
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;

}
    


.button:hover {
    background-color: rgb(255, 208, 0);
    color: #142b6f;
}

.buttonText {

    font-size: 15px;
    font-weight: 500;
}

.line {
   
    font-size: 20px;
   
}

.arrow {
  
   
    
    font-size: 18px;
}


   .navbar-dropdown {
    animation: drowdown-animate 400ms ease-in-out forwards;
    opacity: 0;
    align-self: center;
    left: 80px;
    top: 77px;
    position: absolute;
    background-color: white;
    width: 92%;
    height: 254px;
    z-index: 55555;
    
    border-bottom: 5px solid #142b6f;
   }

   @keyframes drowdown-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
   }

   
   .navbar-dropdown-content {
    align-items: center;
    display: flex;
    height: 100%;
    width: 94%;
    position: relative;
    left: 15px;
   }


   .dropdown-left{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5ffcb5ab91eb492f96d336f9/1611518265706-OXIRPW4GP8ZFVRNR9U5I/get-help.jpg");
    display: flex;
   background-position:bottom;
   background-size:cover;
   background-repeat: no-repeat;
    height: 198px;
    width: 380px;
    position: relative;
    top: 9px;   
   }

   .dropdown-right{
    left: 65px;
    position: relative;
    display: flex;
    gap: 27px;
    top: -5px;
   }
  
   .dropdown-line1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    
    
 
   }

  
   .line1-content{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
     }
    

   .dropdown-line1 h2{
     font-size: 18px;
     color: #000000;
     font-family: 'Sofia Pro';
     font-weight: 700;
     cursor: pointer;
     position: relative;
     width: fit-content;
     
   }

   .dropdown-line1 h2::after{
    content: "";
    position: absolute;
    background-color: rgb(249, 208, 24);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1.5px;
    left: 0px;
    transition: 0.4s;
   }

   .dropdown-line1 h2:hover::after{
    width: 100%;
   }



   .dropdown-line1 p {
    font-size: 16px;
    color: #000000;
    font-family: 'Sofia Pro';
    font-weight: 400;
    max-width: 430px;
   }


   
   .dropdown-line2 h2{
    font-size: 18px;
    color: #000000;
    font-family: 'Sofia Pro';
    font-weight: 600;
    
  }

  .dropdown-line2 p {
   font-size: 16px;
   color: #000000;
   font-family: 'Sofia Pro';
   font-weight: 400;
   max-width: 430px;
  }

  .mobile-dropdown-menu{
    display: none;
  }




/* MOBİLE SCREEN */

@media screen and (max-width: 768px) {
    .Navbar{
        z-index: 50;
        padding-inline: 6%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        height: 63px;
        z-index: 99999999999;
    
        width: 100%;
        
  }
    
    .nav-items-and-button{
        display: none;
    } 
    
    .button{display: none;
       
    }
   
     
.vitamu-logo {

    width: 120.96px;
 
    z-index: 3;
    display: flex;
    align-self: flex-end;

}

.mobile-dropdown-menu{
  
   display: flex;
 
   font-size: 16.33px;
   color: #142b6f;
  font-family:'Sofia Pro';
  
  

}

     .vitamu-logo-2{
        display: none;
     }
     
     
    
    
}

 
   
    
















