.stepper-box{
    background-color: red;
    position: relative;
    left: 31%;
    max-width: 60%;
    font-family: "Sofia Pro";
}

/* completed tick icon*/
.Mui-completed {
    color: #33a183 !important;
}

/*  number icon*/
.Mui-active {
    color: #33a183 !important;
}

.MuiStepConnector-line {
    display: block;
    border-color: #bdbdbd !important;
    border-left-style: solid;
    border-left-width: 1px;
    min-height: 16px !important;
    position: relative;
    bottom: 3.5px;
}

.stepper-upload-image{
    font-size: 16.2px;
    cursor: pointer;
    padding-top: 3px;
  
    color: #FFFFFF;
    font-family: 'Sofia Pro';
    background-color: #33a183;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 33%;
    height:  38px;
    position: relative;
    top: 7%;
    left: 0%;
  }

  @media screen and (max-width: 768px) {
   
   
    .stepper-box{
        left: 14%;
        max-width: 88%;
    }
    .stepper-upload-image{
        width: 50%;
        height:  38px;
        top: 10%;
        left: -2%;
    }
  
    
  }
  