.bi-rads {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 15px;
  padding: 15vh 24vw;
}
.bi-rads__header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.215);
  padding-bottom: 7vh;
}
.bi-rads__main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bi-rads__footer {
  display: none;
}

.bi-rads4 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  gap: 15px;
  padding: 15vh 14vw;
}
.bi-rads4__header {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.215);
  padding-bottom: 7vh;
}
.bi-rads4__header__text {
  color: rgb(66, 66, 66);
  font-family: "Sofia Pro";
  font-size: 18px;
  line-height: 24px;
  position: relative;
  top: 10px;
}
.bi-rads4__header__text span {
  font-weight: 800;
  letter-spacing: -1px;
}
.bi-rads4__main {
  display: flex;
  gap: 105px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.215);
  padding-top: 2vh;
  padding-bottom: 4.1vh;
}
.bi-rads4__main__left {
  font-family: "Sofia Pro";
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  width: 50%;
  line-height: 23.1px;
}
.bi-rads4__main__left p:nth-child(1) {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: -1px;
}
.bi-rads4__main__right {
  width: 40%;
  font-family: Avenir-Roman;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bi-rads4__main__right p:nth-child(1) {
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 0.2px;
}
.bi-rads4__main__right p:nth-child(6) {
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 0.2px;
}
.bi-rads4__main__right__images {
  width: 94px !important;
  height: 91px !important;
}
.bi-rads4__background {
  position: absolute;
  top: 82.9px;
  right: 0;
  z-index: -1;
  width: 44vw;
  height: 300vh;
  background-color: rgba(255, 208, 0, 0.203);
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

@media screen and (max-width: 768px) {
  .bi-rads {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    gap: 15px;
    padding: 0 0;
    padding-top: 12vh;
    padding-inline: 4vw;
    overflow: hidden;
  }
  .bi-rads__header {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.215);
    padding-bottom: 7vh;
  }
  .bi-rads__header__text {
    line-height: 42px;
    width: 100%;
  }
  .bi-rads__header__text2 {
    display: none;
  }
  .bi-rads__main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .bi-rads__main .button {
    display: flex;
  }
  .bi-rads__footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 11vh;
    width: 100vw;
    background-color: white;
    border-top: 2.5px solid #142b6f;
    align-items: center;
    padding-left: 5vw;
    z-index: 199;
  }
  .bi-rads__footer__button {
    background-color: #142b6f;
    width: 235px;
    height: 49px;
    border-radius: 30px;
    font-family: "Sofia Pro";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17.5px;
    gap: 23px;
  }
  .bi-rads__footer__button:hover {
    background-color: rgb(255, 208, 0);
    color: #142b6f;
  }
  .bi-rads4 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    height: 100%;
    gap: 15px;
    padding: 0vh 3.5vw;
    padding-top: 14vh !important;
  }
  .bi-rads4__header {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.215);
    padding-bottom: 7vh;
  }
  .bi-rads4__header__title {
    width: 90% !important;
  }
  .bi-rads4__header__text {
    color: rgb(66, 66, 66);
    font-family: "Sofia Pro";
    font-size: 18px;
    line-height: 24px;
    position: relative;
    top: 10px;
    width: 100% !important;
  }
  .bi-rads4__header__text span {
    font-weight: 800;
    letter-spacing: -1px;
  }
  .bi-rads4__main {
    display: flex;
    flex-direction: column;
    gap: 45px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.215);
    padding-top: 2vh;
    padding-bottom: 4.1vh;
  }
  .bi-rads4__main__left {
    font-family: "Sofia Pro";
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    width: 100%;
    line-height: 23.1px;
  }
  .bi-rads4__main__left p:nth-child(1) {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: -1px;
  }
  .bi-rads4__main__right {
    width: 80%;
    font-family: Avenir-Roman;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .bi-rads4__main__right p:nth-child(1) {
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0.2px;
  }
  .bi-rads4__main__right p:nth-child(6) {
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0.2px;
  }
  .bi-rads4__main__right__imagess {
    gap: 20px !important;
    width: 125%;
    align-items: center;
    display: flex;
  }
  .bi-rads4__main__right__images {
    width: 163px !important;
    height: 163px !important;
  }
  .bi-rads4__background {
    position: absolute;
    top: 82.9px;
    right: 0;
    z-index: -1;
    width: 44vw;
    height: 300vh;
    background-color: rgba(255, 208, 0, 0.203);
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
}/*# sourceMappingURL=biRads.css.map */