.human-error{
    width: 100vw;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 170px;
    padding-top: 110px 
    
    
}

.human-error-main{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
  
   
}

.human-error-main-header{
    width: 100%;
    height: auto;
    display: flex;
 
   
   
}

.human-error-main-header-left{
    width: 680PX;
    gap: 20px;
    display: inline-flex;
    flex-direction: column;
   
}




.human-error-main-header-left p:nth-child(1) {
    width: 130px;
   font-size: 15px;
   color: #000000;
   font-family: 'Sofia Pro';
   background-color: #FFD000;
   padding: 7px 28px;
   border-radius: 88px;
   }

.human-error-main-header-left h5 {
   font-size: 46px;
   font-family: Avenir-Roman;
   color: #0A2470;
   font-weight: 500;
   letter-spacing: -1px;
   line-height: 49px;

   
   
   }

   .human-error-main-header-left h2 {
    border-bottom: 6px solid #FFD000;
    font-weight: 500;
    font-size: 46px;
    line-height: 40px;
    width: auto;
    display: inline-block;
 


    
   
   }

   .human-error-main-header-left p:nth-child(3) {
    font-size: 16px;
    font-family: 'Sofia Pro';
    color: #949494;
    margin-top: 10px;
    
}

.human-error-main-header-right{
    width: 48%;
   height: 100%;
   position: relative;
   bottom: 30px;
  
}

.human-error-main-header-left-audio{
    width: 480px;
    height: 50px;
    cursor: pointer;
}


.human-error-main-hero{
    gap: 4rem;
    width: 77%;
    
    display: flex;
    flex-direction: column;
    text-align: start;
    
}
.human-error-main-hero-texts{
    margin-top: 0px;
    width: 100%;
    text-align: start;
  display: flex;
  flex-direction: column;
 gap: 19px;
}

.human-error-main-hero-texts:nth-child(5) {

    height: 800px;
}

.human-error-main-hero-texts ul {
    display: flex;
    flex-direction: column;
    gap: 21px;
    
    margin-left: 4%;
}

.human-error-main-hero-texts h2{
    text-align: start;
font-family: 'Sofia Pro';
font-size: 24px;
color: #000000;
font-weight: 900;
letter-spacing: -0.5px;

}

.human-error-main-hero-texts p {
    text-align: start;
    font-size: 18px;
    font-family: 'Sofia Pro';
    color: #000000;
   
}
.dropdown-pages-text{
    text-align: start;
    font-size: 18px;
    font-family: 'Sofia Pro';
    color: #000000;
}


.dropdown-pages-text span{
    text-align: start;
    font-size: 18px;
    font-family: 'Sofia Pro';
    color: #000000;
   font-weight: 800;
}



.human-error-main-hero-texts span{
    text-align: start;
    font-size: 18px;
    font-family: 'Sofia Pro';
    color: #000000;
   font-weight: 800;
}


.human-error-pie{
    display: flex;
    width: 490px;
    align-self: center;
}

.human-error-child{

    display: flex;
    gap: 55px;
}

.human-error .footer{
    position: relative;
    right: 46%;
}


.upside-footer{
    

    gap: 1rem;
    display: flex;
    flex-direction: column;
}
 
.button-human {
    cursor: pointer;
    width: 198px;
    height: 50.8px;
   
    display: flex;
    border-radius: 25px;
    border: 1px solid #142b6f;
    color: #142b6f;;
    font-family: 'Sofia Pro';
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;

}




.buttonText-human {

    font-size: 17px;
    font-weight: 500;
}

.line-human {
   
    font-size: 20px;
   
}

.arrow-human {
    font-size: 18px;
}

.human-error .button{
    cursor: pointer;
    width: 230px;
    height: 48.8px;
}


.accordions-text{
    font-family: "Sofia Pro";
    font-weight: 400;
    color: rgb(101, 101, 101) !important;
    font-size: 18px;
    line-height: 23.399999618530273px;
}

.accordions-text span{
    font-family: "Sofia Pro";
    font-weight: 800;
    color: rgb(93, 92, 92);
    font-size: 18.4px;
    letter-spacing: -1px;
   
}

.ml-20{
    margin-left: 25px; 
}

.mui-widthh{
    width: 80%;
}

.accordions-yellow-button{
    border-radius: 20px;
    width: fit-content !important;
    padding: 9px 28px !important;

    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 208, 0);
    color: black;
    font-family: "Sofia Pro";
    font-size: 15px;
   
}

.normal-text{
    font-family: "Sofia Pro";
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 23.399999618530273px;
    display: flex;
    gap: 11px;
    flex-direction: column;
    width: 75%;
}

.big-normal-text{
    font-family: "Sofia Pro";
    font-weight: 900;
    color: #000000;
    font-size: 24px;
    line-height: 23.399999618530273px;
    display: flex;
    gap: 11px;
    flex-direction: column;
    letter-spacing: -1px;
    
   
}

.normal-text span{
    font-family: "Sofia Pro";
    font-weight: 800;
    color: #000000;
    font-size: 18.4px;
    letter-spacing: -1px;
   
}


@media screen and (max-width: 968px) {
    .human-error{
        width: 100vw;
        overflow: hidden;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        padding-top: 10vh 
        
        
    }
    
    .human-error-main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
       
      
       
    }

    .mui-widthh{
        width: 95%;
    }
    
}